<h1>Games</h1>
<section>
  <div class='game-head'>
    <h2 class='home'>Tic-Tac-Toe</h2>
    <%= image_tag('tic-tac-toe-board.png', class: 'home') %>
  </div>
  <p class='home'><%= link_to 'New One Player Game', new_tic_tac_toe_game_path(game_type: "single"), method: :get %>
  <%= link_to 'New Two Player Game', new_tic_tac_toe_game_path(game_type: "dual"), method: :get %>
  <% @games.each do |opponent, game| %>
    <%= link_to "Continue Game vs: #{opponent[0].username}", tic_tac_toe_game_path(game.id) %>
  <% end %>
  </p>
</section>