<h1>Games</h1>
<h2>Tic-Tac-Toe</h2>
<h3>insert image here</h3>
<%= link_to 'New One Player Game', new_tic_tac_toe_game_path(game_type: "single"), method: :get %><br>
<%= link_to 'New Two Player Game', new_tic_tac_toe_game_path(game_type: "dual"), method: :get %><br>
<% @games.each do |opponent, game| %>
  <%= link_to "Continue Game vs: #{opponent[0].username}, #{game.user_turn.username}'s turn", tic_tac_toe_game_path(game.id) %><br>
<% end %>
